@page
@model AssetProject.Areas.Admin.Pages.ContractManagment.AddContractModel
@{
}
<div class="slim-mainpanel">
    <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">@sharedResource["Home"]</a></li>
                <li class="breadcrumb-item"><a href="#">@sharedResource["SETUP"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">@sharedResource["Contract Details"]</li>
            </ol>
            <h6 class="slim-pagetitle">@sharedResource["Contract Information"]</h6>
        </div><!-- slim-pageheader -->

        <div class="section-wrapper">
            <label class="section-title">@sharedResource["Please fill your contract information"]</label>
            @*<p class="mg-b-20 mg-sm-b-40">Please fill your company information</p>*@

            <div class="form-layout">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mg-b-25">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">@sharedResource["Contact Title"]: <span class="tx-danger">*</span></label>
                                <input asp-for="Contract.Title" class="form-control" placeholder="@sharedResource["Enter Contract Title"]">
                                <span asp-validation-for="Contract.Title" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label"> @sharedResource["Description"]: <span class="tx-danger">*</span></label>
                                <input asp-for="Contract.Description" class="form-control" placeholder="@sharedResource["Enter Contract Description"]">

                            </div>
                        </div><!-- col-4 -->

                        <div class="col-lg-4">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label">@sharedResource["Contract No"]: <span class="tx-danger">*</span></label>
                                <input asp-for="Contract.ContractNo" class="form-control" placeholder="@sharedResource["Enter Contract No"]">
                                <span asp-validation-for="Contract.ContractNo" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">@sharedResource["Cost"]: <span class="tx-danger">*</span></label>
                                <input asp-for="Contract.Cost" class="form-control" placeholder="@sharedResource["Enter Cost"]" value="@(Model.Contract.Cost > 0 ? Model.Contract.Cost :string.Empty)">
                                <span asp-validation-for="Contract.Cost" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">@sharedResource["Start Date"] : <span class="tx-danger">*</span></label>
                                <input asp-for="Contract.StartDate" type="date" class="form-control date" value="@(Model.Contract.StartDate >= DateTime.Now ? Model.Contract.StartDate :string.Empty)">
                                <span asp-validation-for="Contract.StartDate" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">@sharedResource["End Date"] : <span class="tx-danger">*</span></label>
                                <input asp-for="Contract.EndDate" type="date" class="form-control date" value="@(Model.Contract.EndDate >=DateTime.Now ? Model.Contract.EndDate :string.Empty)">
                                <span asp-validation-for="Contract.EndDate" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">@sharedResource["Vendor"]: <span class="tx-danger">*</span></label>

                                @(Html.DevExtreme().LookupFor(c=>c.Contract.VendorId)
                                        .DataSource(d => d.WebApi()
                                            .Controller("Lookups")
                                            .LoadAction("VendorsLookup")
                                            .Key("Value")
                                        )
                                        .ValueExpr("Value")
                                         .DisplayExpr("Text").Placeholder(sharedResource["Select Vendor"])
                                        .ShowClearButton(true)
                                        .ClearButtonText(sharedResource["Clear"])
                                        .CancelButtonText(sharedResource["Cancel"])
                                        .SearchPlaceholder(sharedResource["searching"])
                                 )
                                <span asp-validation-for="Contract.VendorId" class="text-danger"></span>
                            </div>
                        </div>

                        <input @*asp-for="@Model.tenant.TenantId"*@ class="form-control" placeholder="Enter Company name" hidden>

                    </div><!-- row -->

                    <div class="form-layout-footer">
                        <button class="btn btn-primary bd-0">@sharedResource["Add Contract"] </button>
                        <a asp-area="Admin" asp-page="/ContractManagment/ContractList">
                            <input type='button' class="btn btn-secondary bd-0" value='@sharedResource["Cancel"]' />
                        </a>
                    </div><!-- form-layout-footer -->
                </form>
            </div><!-- form-layout -->
        </div><!-- section-wrapper -->

    </div><!-- container -->
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>

        $(function () {
            var date = new Date().toISOString().slice(0, 10);

            //To restrict past date

            $('.date').attr('min', date);


        });
    </script>
}