@page
@model AssetProject.Areas.Admin.Pages.SellAssetManagement.SellAssetListModel
@{
}


<div class="slim-mainpanel">
    <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">@sharedResource["Home"]</a></li>
                <li class="breadcrumb-item"><a href="#">@sharedResource["Asset Management"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">@sharedResource["Sell Asset List"]</li>
            </ol>
            <h6 class="slim-pagetitle">@sharedResource["Sell Asset List"]</h6>
        </div><!-- slim-pageheader -->
        <div class="section-wrapper">
            @*<a asp-area="Admin" asp-page="/ContractManagment/AddContract" class="btn btn-primary" style="float:right"> @sharedResource["Create Contract"]</a>*@
            <p class="mg-b-20 mg-sm-b-40"> @sharedResource["Search"].</p>
            <div class="table-wrapper">
                <div id="datatable1_wrapper" class="dataTables_wrapper no-footer">

                    @(Html.DevExtreme().DataGrid<AssetProject.Models.AssetSellDetails>()
        .ID("Soldlistid")
                    .DataSource(ds => ds.Mvc()
                    .Controller("SellAssets")
                    .LoadAction("Get")
                    .Key("SellAssetId")
                    )

                    .ColumnAutoWidth(true)
                    .WordWrapEnabled(true)
                     .ShowBorders(true)
                    .RemoteOperations(true)
                    .ShowBorders(true)
                    .Paging(p=>p.PageSize(10))
                    .Pager(p=>p.ShowPageSizeSelector(true).AllowedPageSizes(new [] {10,20,40,80}))
                    .SearchPanel(s=>s.Visible(true).HighlightCaseSensitive(true).Placeholder(sharedResource["searching"]))
                    .FilterRow(filterRow => filterRow
                    .Visible(true)
                    .ApplyFilter(GridApplyFilterMode.Auto)
                    )
                    .HeaderFilter(headerFilter => headerFilter.Visible(true))

                    .Columns(columns => {

                        columns.AddFor(m => m.Asset.Photo).Caption(sharedResource["Photo"]).Width(100)
                .AllowFiltering(false)
                .AllowSorting(false)

                        .CellTemplate(@<text>
                            <div>
                                <img src="/<%- value %>" alt="" width="35" height="35" />
                            </div>
                        </text>);

                        columns.AddFor(m => m.Asset.AssetTagId).Caption(sharedResource["Asset TagId"]);

                        columns.AddFor(m => m.Asset.AssetCost).Caption(sharedResource["AssetCost"]);

                        columns.AddFor(m => m.Asset.AssetSerialNo).Caption(sharedResource["AssetSerialNo"]);

                        columns.AddFor(m => m.SellAsset.SaleAmount).Caption(sharedResource["Sale Amount"]);
                        columns.AddFor(m => m.SellAsset.SoldTo).Caption(sharedResource["Soled To"]);
                        columns.AddFor(m => m.SellAsset.Notes).Caption(sharedResource["Notes"]);




                        //columns.AddFor(m => m.AssetId).Caption("Asset").Lookup(lookup => lookup
                        //.DataSource(ds => ds.WebApi().Controller("Lookups").LoadAction("VendorsLookup").Key("Value"))
                        //.ValueExpr("Value")
                        //.DisplayExpr("Text")
                        //);
                    })
                    )

                </div>
            </div><!-- table-wrapper -->
        </div><!-- section-wrapper -->

    </div><!-- container -->
</div>

<script>

  window.addEventListener('DOMContentLoaded', (event) => {
        if (localStorage.getItem("lang") != "") {

             if (localStorage.getItem("lang") == "ar") {
                console.log("In Page")
                 dataGrid = $("#Soldlistid").dxDataGrid("instance");
                dataGrid.option("rtlEnabled", true);
            }
        }
  });
    </script>