@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (ViewData["AssetId"] != null)
{
    var AssetId = ViewData["AssetId"];
}
@model AssetProject.Models.AssetMovement

<div id="AssetCheckOutPoup" class="modal fade effect-super-scaled" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-vertical-center modal-lg" role="document">
        <form asp-area="Admin" asp-page="/AssetManagment/AssetProfile" asp-page-handler="AddAssetCheckOut" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                    <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold"> @sharedResource["Asset Movement"]</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body pd-25">

                    <div class="row mg-b-25">
                       

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">@sharedResource["Action Type"]: <span class="tx-danger">*</span></label>

                                @(Html.DevExtreme().LookupFor(c=>c.ActionTypeId)
                                .ID("ActionTypeLookup")
                                .DataSource(d => d.WebApi()
                                .Controller("Lookups")
                                .LoadAction("ActionTypesLookup")
                                .Key("Value")
                                )
                                .OnSelectionChanged("AcionTypeLookuP")
                                .ValueExpr("Value")
                                .DisplayExpr("Text").Placeholder(sharedResource["Select Action"])
                                        .ShowClearButton(true)
                                        .ClearButtonText(sharedResource["Clear"])
                                        .CancelButtonText(sharedResource["Cancel"])
                                        .SearchPlaceholder(sharedResource["searching"])

                                )
                                <span asp-validation-for="@Model.ActionTypeId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">@sharedResource["Due Date"] : <span class="tx-danger">*</span></label>
                                <input asp-for="@Model.DueDate" type="date" class="form-control date" value=" "required>
                                <span asp-validation-for="@Model.DueDate" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->

                        <div class="col-lg-6" id="AssetToEmpolyee" style="display:none">
                            <div class="form-group">
                                <label class="form-control-label">@sharedResource["Empolyee"]: <span class="tx-danger">*</span></label>

                                @(Html.DevExtreme().LookupFor(c=>c.EmpolyeeID)
                                .DataSource(d => d.WebApi()
                                .Controller("Lookups")
                                .LoadAction("EmpolyeesLookup")
                                .Key("Value")
                                )
                                .ValueExpr("Value")
                                .DisplayExpr("Text").Placeholder(sharedResource["Select Empolyee"])
                                .ShowClearButton(true)
                                .ClearButtonText(sharedResource["Clear"])
                                .CancelButtonText(sharedResource["Cancel"])
                                .SearchPlaceholder(sharedResource["searching"])
                                )
                                <span asp-validation-for="@Model.EmpolyeeID" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-lg-6" id="AssetToLocation" style="display:none">
                            <div class="form-group">
                                <label class="form-control-label">@sharedResource["Location"]: <span class="tx-danger">*</span></label>

                                @*  @(Html.DevExtreme().LookupFor(c=>c.LocationId)
                            .DataSource(d => d.WebApi()
                            .Controller("Lookups")
                            .LoadAction("LocationsLookup")
                            .Key("Value")
                            )
                            .ValueExpr("Value")
                            .DisplayExpr("Text")

                            )*@
                                @(Html.DevExtreme().DropDownBoxFor(c=>c.LocationId)
                                  .ID("locationTree")
                                .ValueExpr("Value")
                                .DisplayExpr("Text")
                                .DropDownOptions(o => o.Height(350))
                                .DataSource(d => d.WebApi()
                                .Controller("Lookups")
                                .LoadAction("LocationsLookup")
                                .LoadMode(DataSourceLoadMode.Raw)
                                .Key("Value")
                                )
                                .Placeholder(sharedResource["Select a value..."])
                                .ShowClearButton(true)
                                .OnValueChanged("treeBox_valueChanged")
                                .ContentTemplate(new TemplateName("EmbeddedTreeViewSingle"))
                                )
                                <span asp-validation-for="@Model.LocationId" class="text-danger"></span>
                            </div>
                        </div>
                        @using (Html.DevExtreme().NamedTemplate("EmbeddedTreeViewSingle"))
                        {
                            @(Html.DevExtreme().TreeView()
                               
                        .DataSource(ds => ds.Mvc()
                        .Controller("Locations")
                        .LoadAction("Get")
                        .Key("LocationId")
                        )
                        .DisplayExpr("LocationTitle")
                        .ItemsExpr("Items")
                        .ExpandedExpr("Expanded")
                        .KeyExpr("LocationId")
                        .ParentIdExpr("LocationParentId")
                        .DataStructure(TreeViewDataStructure.Plain)
                        .SelectionMode(NavSelectionMode.Single)
                        .SelectByClick(true)
                        .Height(235)
                        .OnItemClick(@<text>
                                function(args) {
                                component.close();
                                }
                            </text>)
                        .OnItemSelectionChanged(@<text>
                                function(args) {
                                component.option("value", args.component.getSelectedNodeKeys());
                                }
                            </text>)
                        .OnContentReady(@<text>
                                function(args) {
                                syncTreeViewSelection(args.component, component.option("value"));
                                }
                            </text>)
                        )
                        }

                        <div class="col-lg-6" id="AssetToDepartment" style="display:none">
                            <div class="form-group">
                                <label class="form-control-label">@sharedResource["Department"] <span class="tx-danger">*</span></label>

                                @(Html.DevExtreme().LookupFor(c=>c.DepartmentId)
                                .DataSource(d => d.WebApi()
                                .Controller("Lookups")
                                .LoadAction("DepartmentsLookup")
                                .Key("Value")
                                )
                                .ValueExpr("Value")
                                .DisplayExpr("Text").Placeholder(sharedResource["Select Department"])
                                .ShowClearButton(true)
                                .ClearButtonText(sharedResource["Clear"])
                                .CancelButtonText(sharedResource["Cancel"])
                                .SearchPlaceholder(sharedResource["searching"])
                                )
                                <span asp-validation-for="@Model.DepartmentId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">@sharedResource["Remarks"] <span class="tx-danger">*</span></label>
                                <textarea asp-for="@Model.Remarks" class="form-control" placeholder=""></textarea>
                                <span asp-validation-for="@Model.Remarks" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->

                        <input name="AssetId" hidden id="checkoutAssetIdField" />
                    </div><!-- row -->

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">@sharedResource["Check Out"]</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@sharedResource["Cancel"]</button>
                </div>
            </div>
        </form>
    </div><!-- modal-dialog -->
</div>

<script>
    function AcionTypeLookuP(){
        console.log("inside the funcion")
        var ActionType = $("#ActionTypeLookup").dxLookup("instance");
         console.log(ActionType)
        var ActionTypeValue = ActionType.option("selectedItem");
        if (ActionTypeValue != null) {
            console.log(ActionTypeValue)
            if (ActionTypeValue.Value == 1) {
                console.log("In TO Empolyee ")
                document.getElementById("AssetToEmpolyee").style.display = 'block'
                document.getElementById("AssetToLocation").style.display = 'block'
                document.getElementById("AssetToDepartment").style.display = 'block'
            }
            else if (ActionTypeValue.Value == 2) {
                console.log("In TO Department ")
                document.getElementById("AssetToDepartment").style.display = 'block'
                document.getElementById("AssetToEmpolyee").style.display = 'none'
                document.getElementById("AssetToLocation").style.display = 'block'
            }
        }
      
       }

          function syncTreeViewSelection(treeView, value) {
              console.log(treeView)
              console.log(value)
           if (!value) {
               treeView.unselectAll();
           } else {
               treeView.selectItem(value);
           }
       }

       function treeBox_valueChanged(e) {
           console.log("tree")
           var $treeView = e.component.content().find(".dx-treeview");
           console.log($treeView)
           if($treeView.length) {
               syncTreeViewSelection($treeView.dxTreeView("instance"), e.value);
           }
    }

    window.addEventListener('DOMContentLoaded', (event) => {
        if (localStorage.getItem("lang") != "") {

            if (localStorage.getItem("lang") == "ar") {
                console.log("In Page")
                drobdownBox = $("#locationTree").dxDropDownBox("instance");
                drobdownBox.option("rtlEnabled", true);
            }
        }
    });


</script>