@page
@model AssetProject.Areas.Admin.Pages.AlertsManagement.InsurancesExpiringModel
@{
}
<div class="slim-mainpanel">
    <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">@sharedResource["Home"]</a></li>
                <li class="breadcrumb-item"><a href="#">@sharedResource["Alerts"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">@sharedResource["Insurance Expiring"]</li>
            </ol>
            <h6 class="slim-pagetitle">@sharedResource["InsurancePolicyList"]</h6>
        </div><!-- slim-pageheader -->
        <div class="section-wrapper">
            @*<label class="section-title d-inline">@sharedResource["InsurancePolicyList"]</label>*@
            @*<a asp-area="Admin" asp-page="/InsuranceManagement/AddInsurance" class="btn btn-primary" style="float:right">@sharedResource["AddNewInsurance"] </a>*@
            @*<p class="mg-b-20 mg-sm-b-40">Searching, ordering and paging goodness will be immediately added to the table, as shown in this example.</p>*@
            <div class="table-wrapper">
                <div id="datatable1_wrapper" class="dataTables_wrapper no-footer">
                    @(Html.DevExtreme().DataGrid<AssetProject.Models.Insurance>()
        .ID("insuranceexpiringid")
    .DataSource(ds => ds.Mvc()
        .Controller("Alerts")
        .LoadAction("GetInsurancesExpiring")
        .Key("InsuranceId")
    )

                    .ColumnAutoWidth(true)
                    .WordWrapEnabled(true)
                     .ShowBorders(true)
    .RemoteOperations(true)
     .ShowBorders(true)
    .Paging(p => p.PageSize(10))
    .Pager(p => p.ShowPageSizeSelector(true).AllowedPageSizes(new[] { 10, 20, 40, 80 }))
    .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(true).Placeholder(sharedResource["searching"]))
    .FilterRow(filterRow => filterRow
        .Visible(true)
        .ApplyFilter(GridApplyFilterMode.Auto)
    )
      .HeaderFilter(headerFilter => headerFilter.Visible(true))
    .Columns(columns => {

            @*columns.Add().Caption("Actions").Caption(@sharedResource["Actions"]).Alignment(HorizontalAlignment.Center).CellTemplate(@<text>
                <a href="/Admin/InsuranceManagement/DetailsInsurance?id=<%- data.InsuranceId %>"> @sharedResource["Details"] </a>
            </text>).Width(150);*@

        
       

        columns.AddFor(m => m.Title).Caption(@sharedResource["Title"]);


        columns.AddFor(m => m.InsuranceCompany).Caption(@sharedResource["InsuranceCompany"]);

        columns.AddFor(m => m.ContactPerson).Caption(@sharedResource["ContactPerson"]);

        columns.AddFor(m => m.PolicyNo).Caption(@sharedResource["PolicyNumber"]);

        columns.AddFor(m => m.StartDate).Caption(@sharedResource["StartDate"]);

        columns.AddFor(m => m.EndDate).Caption(@sharedResource["EndDate"]);

    })
)
                </div>
            </div><!-- table-wrapper -->
        </div><!-- section-wrapper -->

    </div><!-- container -->
</div>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        if (localStorage.getItem("lang") != "") {

             if (localStorage.getItem("lang") == "ar") {
                console.log("In Page")
                 dataGrid = $("#insuranceexpiringid").dxDataGrid("instance");
                dataGrid.option("rtlEnabled", true);
            }
        }
    });
</script>