@page
@model AssetProject.Areas.Admin.Pages.CustomerManagement.AddCustomerModel
@{
}
<div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">@sharedResource["Home"]</a></li>
                <li class="breadcrumb-item"><a href="#">@sharedResource["SETUP"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">@sharedResource["Add Customer"]</li>
            </ol>
            <h6 class="slim-pagetitle">@sharedResource["Customer Information"]</h6>
        </div><!-- slim-pageheader -->

        <div class="section-wrapper">

            <label class="section-title">@sharedResource["PLEASE FILL Customer INFORMATION"]</label>
          <div class="form-layout">
                <form  method="post" enctype="multipart/form-data" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mg-t-25">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">@sharedResource["FullName"] : <span class="tx-danger">*</span></label>
                          <input asp-for="@Model.customer.FullName" class="form-control"  placeholder="@sharedResource["EnterFullName"]">
                           <span asp-validation-for="@Model.customer.FullName" class="text-danger"></span>
                          </div>
                      </div><!-- col-4 -->
                         <div class="col-lg-4">
                         <div class="form-group mg-b-10-force">
                             <label class="form-control-label">@sharedResource["Company Name"] : <span class="tx-danger">*</span></label>
                          <input  asp-for="@Model.customer.CompanyName"  class="form-control" placeholder="@sharedResource["Enter Company Name"]">
                           <span asp-validation-for="@Model.customer.CompanyName" class="text-danger"></span>
                        </div>
                        </div>
                        <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                          <label class="form-control-label">@sharedResource["First Address"] : <span class="tx-danger">*</span></label>
                          <input  asp-for="@Model.customer.Address1"  class="form-control" placeholder="@sharedResource["Enter Address"]">
                           <span asp-validation-for="@Model.customer.Address1" class="text-danger"></span>
                        </div>
                      </div><!-- col-4 -->
                      </div>
                        <div class="row mg-b-10">
                       
                      <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">@sharedResource["Secound Address"] : <span class="tx-danger">*</span></label>
                          <input  asp-for="@Model.customer.Address2"  class="form-control" placeholder="@sharedResource["Enter Secound Address"]">
                           <span asp-validation-for="@Model.customer.Address2" class="text-danger"></span>
                        </div>
                      </div>
                   
                    
                       <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">@sharedResource["Country"] : <span class="tx-danger">*</span></label>
                          <input  asp-for="@Model.customer.Country"  class="form-control" placeholder="@sharedResource["Enter Country"]">
                           <span asp-validation-for="@Model.customer.Country" class="text-danger"></span>
                        </div>
                      </div><!-- col-4 -->

                      <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">@sharedResource["City"] : <span class="tx-danger">*</span></label>
                          <input  asp-for="@Model.customer.City"  class="form-control" placeholder="@sharedResource["Enter City"]">
                           <span asp-validation-for="@Model.customer.City" class="text-danger"></span>
                        </div>
                      </div><!-- col-4 -->
                       </div><!--End Row-->
                        <div class="row mg-b-10">
                      <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">@sharedResource["State"] : <span class="tx-danger">*</span></label>
                          <input  asp-for="@Model.customer.State"  class="form-control" placeholder="@sharedResource["Enter State"]">
                           <span asp-validation-for="@Model.customer.State" class="text-danger"></span>
                        </div>
                      </div><!-- col-4 -->
                      <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">@sharedResource["Postal Code"] : <span class="tx-danger">*</span></label>
                          <input  asp-for="@Model.customer.PostalCode"  class="form-control" placeholder="@sharedResource["Enter Postal Code"]">
                           <span asp-validation-for="@Model.customer.PostalCode" class="text-danger"></span>
                        </div>
                      </div><!-- col-4 -->
                    
                      <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                          <label class="form-control-label"> @sharedResource["Phone"] : <span class="tx-danger">*</span></label>
                          <input  asp-for="@Model.customer.Phone"  class="form-control" placeholder="@sharedResource["EnterPhoneNumber"] ">
                           <span asp-validation-for="@Model.customer.Phone" class="text-danger"></span>
                        </div>
                      </div><!-- col-4 -->
                     </div>
                     <div class="row mg-b-10">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">@sharedResource["Email"] : <span class="tx-danger">*</span></label>
                          <input asp-for="@Model.customer.Email"  class="form-control"  placeholder="@sharedResource["EnterEmail"]">
                           <span asp-validation-for="@Model.customer.Email" class="text-danger"></span>
                        </div>
                      </div><!-- col-4 -->
                           <div class="col-lg-8">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">@sharedResource["Notes"] </label>
                             <textarea asp-for="@Model.customer.Notes" class="form-control" placeholder="@sharedResource["EnterNotes"]" id="exampleFormControlTextarea1" rows="3"></textarea>
                             <span asp-validation-for="@Model.customer.Notes" class="text-danger"></span>
                         </div>                   
                      </div><!-- col-6 -->
                    </div><!--End Row-->
                    <div class="form-layout-footer mt-4 ">
                      <button class="btn btn-primary bd-0">@sharedResource["Add Customer"]</button>
                      <a asp-area="admin" class="btn btn-secondary " asp-page="CustomerList">@sharedResource["Cancel"]</a>
                     </div><!-- form-layout-footer -->
                </form>
          </div><!-- form-layout -->
        </div><!-- section-wrapper --> 
  </div><!-- container -->
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  
    </script>
}
