@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Pages/Shared/Admin/_AdminLayoutSlimEmpty.cshtml";
}
<div class="d-md-flex flex-row-reverse">
    <div class="signin-right">
       
        <div class="signin-box">
             <form method="post">
                 <h4 class="signin-title-secondary">@sharedResource["Reset your password"].</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label @*asp-for="Input.Email"*@> @sharedResource["Email"]</label>
                <input asp-for="Input.Email" class="form-control" placeholder="Enter Your Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @*asp-for="Input.Password"*@>@sharedResource["Password"]</label>
                <input asp-for="Input.Password" class="form-control" placeholder="Enter Your Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @*asp-for="Input.ConfirmPassword"*@>@sharedResource["ConfirmPassword"]</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-signin">@sharedResource["Reset"]</button>
        </form>
      </div>
    </div>
  
       <div class="signin-left">
        <div class="signin-box">
          <h2 class="slim-logo"><a href="index.html">slim<span>.</span></a></h2>

          <p>@sharedResource["slim paragraph"].</p>

          <p class="tx-12">&copy; @sharedResource["Copyright 2022. All Rights Reserved"].</p>
        </div>
      </div><!-- signin-left -->
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
