@page "{id:int?}"
@model AssetProject.Areas.Admin.Pages.InsuranceManagement.EditInsuranceModel
@{
}
<div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">@sharedResource["Home"]</a></li>
                <li class="breadcrumb-item"><a href="#">@sharedResource["ASSETS"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">@sharedResource["EditInsurance"]</li>
            </ol>
          <h6 class="slim-pagetitle">@sharedResource["InsurancePolicyInformation"]</h6>
        </div><!-- slim-pageheader -->

        <div class="section-wrapper">

              <label class="section-title">@sharedResource["plzFIPI"]</label>
          <div class="form-layout">
              <form method="post" enctype="multipart/form-data">
                  <input type="text" asp-for="@Model.insurance.InsuranceId" hidden>
                  <input asp-for="@Model.insurance.TenantId" class="form-control" hidden>

                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <div class="row mg-b-20">
                      <div class="col-lg-4">
                          <div class="form-group">
                              <label class="form-control-label">@sharedResource["InsuranceTitle"] : <span class="tx-danger">*</span></label>
                              <input asp-for="@Model.insurance.Title" class="form-control" placeholder="@sharedResource["EnterInsuranceTitle"]">
                              <span asp-validation-for="@Model.insurance.Title" class="text-danger"></span>
                          </div>
                      </div><!-- col-4 -->

                      <div class="col-lg-4">
                          <div class="form-group">
                              <label class="form-control-label"> @sharedResource["Description"] : <span class="tx-danger">*</span></label>
                              <input asp-for="@Model.insurance.Description" class="form-control" placeholder="@sharedResource["EnterDescription"]">
                              <span asp-validation-for="@Model.insurance.Description" class="text-danger"></span>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="form-group">
                              <label class="form-control-label"> @sharedResource["InsuranceCompany"] : <span class="tx-danger">*</span></label>
                              <input asp-for="@Model.insurance.InsuranceCompany" class="form-control" placeholder="@sharedResource["EnterInsuranceCompany"]">
                              <span asp-validation-for="@Model.insurance.InsuranceCompany" class="text-danger"></span>
                          </div>
                      </div><!-- col-4 -->
                  </div><!--End Row-->
                  <div class="row mg-b-20">
                      <div class="col-lg-4">
                          <div class="form-group mg-b-10-force">
                              <label class="form-control-label">@sharedResource["ContactPerson"] : <span class="tx-danger">*</span></label>
                              <input asp-for="@Model.insurance.ContactPerson" class="form-control" placeholder="@sharedResource["EnterContactPerson"]">
                              <span asp-validation-for="@Model.insurance.ContactPerson" class="text-danger"></span>
                          </div>
                      </div><!-- col-4 -->
                      <div class="col-lg-4">
                          <div class="form-group">
                              <label class="form-control-label">@sharedResource["Phone"]  : <span class="tx-danger">*</span></label>
                              <input asp-for="@Model.insurance.Phone" class="form-control" placeholder="@sharedResource["EnterPhoneNumber"]">
                              <span asp-validation-for="@Model.insurance.Phone" class="text-danger"></span>
                          </div>
                      </div><!-- col-4 -->

                      <div class="col-lg-4">
                          <div class="form-group">
                              <label class="form-control-label">@sharedResource["PolicyNumber"]: <span class="tx-danger">*</span></label>
                              <input asp-for="@Model.insurance.PolicyNo" class="form-control" placeholder="@sharedResource["EnterPolicyNumber"]">
                              <span asp-validation-for="@Model.insurance.PolicyNo" class="text-danger"></span>
                          </div>
                      </div><!-- col-4 -->
                  </div><!--End Row-->
                  <div class="row mg-b-20">
                      <div class="col-lg-4">
                          <div class="form-group">
                              <label class="form-control-label">@sharedResource["StartDate"] : <span class="tx-danger">*</span></label>
                              <input asp-for="@Model.insurance.StartDate" type="date" class="form-control date">
                              <span asp-validation-for="@Model.insurance.StartDate" class="text-danger"></span>
                          </div>
                      </div><!-- col-6 -->
                      <div class="col-lg-4">
                          <div class="form-group">
                              <label class="form-control-label">@sharedResource["EndDate"] : <span class="tx-danger">*</span></label>
                              <input asp-for="@Model.insurance.EndDate" type="date" class="form-control date">
                              <span asp-validation-for="@Model.insurance.EndDate" class="text-danger"></span>
                          </div>
                      </div><!-- col-6 -->
                      <div class="col-lg-4">
                          <div class="form-group">
                              <label class="form-control-label">@sharedResource["Deductible"] : <span class="tx-danger">*</span></label>
                              <input asp-for="@Model.insurance.Deductible" class="form-control" placeholder="@sharedResource["EnterDeductible"]">
                              <span asp-validation-for="@Model.insurance.Deductible" class="text-danger"></span>
                          </div>
                      </div><!-- col-6 -->
                  </div><!--End Row-->
                  <div class="row mg-b-20">

                      <div class="col-lg-4">
                          <div class="form-group">
                              <label class="form-control-label">@sharedResource["Permium"] : <span class="tx-danger">*</span></label>
                              <input asp-for="@Model.insurance.Permium" class="form-control" placeholder="@sharedResource["EnterPermium"]">
                              <span asp-validation-for="@Model.insurance.Permium" class="text-danger"></span>
                          </div>
                      </div><!-- col-6 -->
                      <div class="col-lg-4">
                          <div class="form-group">
                              <label class="form-control-label"> @sharedResource["IsActive"]  : <span class="tx-danger">*</span></label>
                              <input asp-for="@Model.insurance.IsActive" class="form-control">
                              <span asp-validation-for="@Model.insurance.IsActive" class="text-danger"></span>
                          </div>
                      </div>
                  </div><!-- End row -->
                  

                  <div class="form-layout-footer mt-4 ">
                      <button class="btn btn-primary bd-0">@sharedResource["Save"]</button>
                      <a asp-area="admin" class="btn btn-secondary " asp-page="InsuranceList">@sharedResource["Cancel"]</a>
                  </div><!-- form-layout-footer -->
              </form>
          </div><!-- form-layout -->
        </div><!-- section-wrapper --> 
  </div><!-- container -->
</div>

    
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    
 }
