@page
@model AssetProject.Areas.Admin.Pages.BrandManagment.EditBrandModel
@{
}

<div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">@sharedResource["Home"]</a></li>
                <li class="breadcrumb-item"><a href="#">@sharedResource["SETUP"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">@sharedResource["EditBrand"]</li>
            </ol>
          <h6 class="slim-pagetitle">@sharedResource["BrandInformation"]</h6>
        </div><!-- slim-pageheader -->

 <div class="section-wrapper">
          <label class="section-title">@sharedResource["plzFBI"]</label>
          @*<p class="mg-b-20 mg-sm-b-40">Please fill your company information</p>*@

          <div class="form-layout">
              <form  method="post" >
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="row mg-b-25">
                  <div class="col-lg-4">
                      <div class="form-group">
                          <label>@sharedResource["BrandTitle"]: <span class="tx-danger">*</span></label>
                          <input asp-for="Brand.BrandTitle" class="form-control" placeholder="@sharedResource["EnterBrandTitle"]">
                          <span asp-validation-for="Brand.BrandTitle" class="text-danger"></span>
                      </div>
                  </div><!-- col-4 -->


                  <input asp-for="Brand.BrandId" class="form-control" hidden>
                  <input asp-for="Brand.TenantId" class="form-control" hidden>


              </div><!-- row -->

            <div class="form-layout-footer">
              <button class="btn btn-primary bd-0">@sharedResource["Save"] </button>
              <a  asp-area="Admin" asp-page="/BrandManagment/BrandList">
                 <input type='button' class="btn btn-secondary bd-0" value='@sharedResource["Cancel"]' />
              </a>
            </div><!-- form-layout-footer -->
            </form>
             
          </div><!-- form-layout -->
        </div><!-- section-wrapper -->
        
      </div><!-- container -->
    </div>

    
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}