@page
@model AssetProject.Areas.Admin.Pages.EmployeeManagement.DeleteEmployeeModel
@{
}
<div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">@sharedResource["Home"]</a></li>
                <li class="breadcrumb-item"><a href="#">@sharedResource["SETUP"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">@sharedResource["DeleteEmpolyee"]</li>
            </ol>
          <h6 class="slim-pagetitle">@sharedResource["EmployeeInformation"]</h6>
        </div><!-- slim-pageheader -->

        <div class="section-wrapper">
          <div class="form-layout">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mg-b-20">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">@sharedResource["FullName"] : <span class="tx-danger">*</span></label>
                          <div>
                               <label ><h4>@Model.employee.FullName</h4></label>
                          </div>
                         
                        </div>
                      </div><!-- col-4 -->
              
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label"> @sharedResource["EmployeeID"]  : <span class="tx-danger">*</span></label>
                           <div>
                               <label ><h4>@Model.employee.EmployeeId</h4></label>
                          </div>
                        </div>
                      </div>
                    
                    </div><!--End Row-->
                    <div class="row mg-b-20">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label"> @sharedResource["Title"] : <span class="tx-danger">*</span></label>
                                <div>
                                    <label><h4>@Model.employee.Title</h4></label>
                                </div>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-6">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label">@sharedResource["Phone"] : <span class="tx-danger">*</span></label>
                                <div>
                                    <label><h4>@Model.employee.Phone</h4></label>
                                </div>
                            </div>
                        </div><!-- col-4 -->
                       
                    </div><!--End Row-->
                    <div class="row mg-b-20">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">@sharedResource["Email"] : <span class="tx-danger">*</span></label>
                                <div>
                                    <label><h4>@Model.employee.Email</h4></label>
                                </div>
                            </div>
                        </div><!-- col-4 -->

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">@sharedResource["Notes"] : <span class="tx-danger">*</span></label>
                                <div>
                                    <label><h4>@Model.employee.Notes</h4></label>
                                </div>
                            </div>
                        </div><!-- col-6 -->
                    </div><!--End Row-->   
                    <div class="form-layout-footer mt-4">
                           <form  method="post" enctype="multipart/form-data" asp-route-id="@Model.employee.ID" >
                                <input type="submit" value="@sharedResource["Delete"] " class="btn btn-danger" >
                                 <a asp-area="admin" class="btn btn-secondary " asp-page="EmployeeList">@sharedResource["BacktoList"]</a>
                            </form>
                       
                     </div><!-- form-layout-footer -->
          </div><!-- form-layout -->
        </div><!-- section-wrapper --> 
  </div><!-- container -->
</div>
