@page "{id:int?}"
@model AssetProject.Areas.Admin.Pages.EmployeeManagement.EditEmployeeModel
@{
}
<div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">@sharedResource["Home"]</a></li>
                <li class="breadcrumb-item"><a href="#">@sharedResource["SETUP"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">@sharedResource["EditEmployee"]</li>
            </ol>
          <h6 class="slim-pagetitle">@sharedResource["EmployeeInformation"]</h6>
        </div><!-- slim-pageheader -->

        <div class="section-wrapper">

              <label class="section-title">@sharedResource["plzFEI"]</label>
          <div class="form-layout">
                <form  method="post" enctype="multipart/form-data" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="text" asp-for="@Model.employee.ID" hidden>
                    <input type="text" asp-for="@Model.employee.TenantId" hidden>
                    <div class="row mg-b-25">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">@sharedResource["FullName"] : <span class="tx-danger">*</span></label>
                          <input asp-for="@Model.employee.FullName" class="form-control"  placeholder="@sharedResource["EnterFullName"]">
                           <span asp-validation-for="@Model.employee.FullName" class="text-danger"></span>
                        </div>
                      </div><!-- col-4 -->
              
                       <div class="col-lg-6">
                        <div class="form-group mg-b-10-force">
                          <label class="form-control-label">@sharedResource["EmployeeID"]  : <span class="tx-danger">*</span></label>
                          <input  asp-for="@Model.employee.EmployeeId"  class="form-control" placeholder="@sharedResource["EnterEmployeeID"]">
                           <span asp-validation-for="@Model.employee.EmployeeId" class="text-danger"></span>
                        </div>
                      </div><!-- col-4 -->
                     
                      
                    </div><!--End Row-->
                    <div class="row mg-b-10">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label"> @sharedResource["Title"] : <span class="tx-danger">*</span></label>
                                <input asp-for="@Model.employee.Title" class="form-control" placeholder="@sharedResource["EnterTitle"]">
                                <span asp-validation-for="@Model.employee.Title" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-6">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label">@sharedResource["Phone"] : <span class="tx-danger">*</span></label>
                                <input asp-for="@Model.employee.Phone" class="form-control" placeholder="@sharedResource["EnterPhoneNumber"]">
                                <span asp-validation-for="@Model.employee.Phone" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->
                       

                    </div><!--End Row-->
                    <div class="row mg-b-10">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">@sharedResource["Email"] : <span class="tx-danger">*</span></label>
                                <input asp-for="@Model.employee.Email" class="form-control" placeholder="@sharedResource["EnterEmail"]">
                                <span asp-validation-for="@Model.employee.Email" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">@sharedResource["Notes"]</label>
                                <textarea asp-for="@Model.employee.Notes" class="form-control" placeholder="@sharedResource["EnterNotes"]" id="exampleFormControlTextarea1" rows="3"></textarea>
                                <span asp-validation-for="@Model.employee.Notes" class="text-danger"></span>
                            </div>
                        </div><!-- col-6 -->
                    </div><!--End Row-->
             
                    <div class="form-layout-footer mt-4 ">
                      <button class="btn btn-primary bd-0">@sharedResource["Save"]</button>
                      <a asp-area="admin" class="btn btn-secondary " asp-page="EmployeeList">@sharedResource["Cancel"]</a>
                     </div><!-- form-layout-footer -->
                </form>
          </div><!-- form-layout -->
        </div><!-- section-wrapper --> 
  </div><!-- container -->
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  
    </script>
}
