@page
@model AssetProject.Areas.Admin.Pages.Dispose_Asset_Managment.DisposeAssetListModel
@{
}


<div class="slim-mainpanel">
    <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">@sharedResource["Home"]</a></li>
                <li class="breadcrumb-item"><a href="#">@sharedResource["ASSETS"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">@sharedResource["Dispose Asset"]</li>
            </ol>
            <h6 class="slim-pagetitle">@sharedResource["Dispose Asset"]</h6>
        </div><!-- slim-pageheader -->
        <div class="section-wrapper">
            @*<label class="section-title d-inline">@sharedResource["Dispose Assets List"]</label>*@

            @*<a asp-area="Admin" asp-page="/AssetManagment/AddLostList" class="btn btn-primary" style="float:right"> Add New Contract   </a>*@
            @*<p class="mg-b-20 mg-sm-b-40">Searching, ordering and paging goodness will be immediately added to the table, as shown in this example.</p>*@
            <div class="table-wrapper">
                <div id="datatable1_wrapper" class="dataTables_wrapper no-footer">
                    @(Html.DevExtreme().DataGrid<AssetProject.Models.AssetDisposeDetails>()
                     .ID("gridContaine")
                    .DataSource(ds => ds.Mvc()
                    .Controller("DisposeAssets")
                    .LoadAction("Get")
                   .InsertAction("Post")
                    .UpdateAction("Put")
                   .DeleteAction("Delete")
                    .Key("AssetDisposeDetailsId")
                    )
                    .HeaderFilter(headerFilter => headerFilter.Visible(true))
                    .ColumnAutoWidth(true)
                    .WordWrapEnabled(true)
                     .ShowBorders(true)
    .Paging(p=>p.PageSize(10))
    .Pager(p=>p.ShowPageSizeSelector(true).AllowedPageSizes(new [] {10,20,40,80}))
    .SearchPanel(s=>s.Visible(true).HighlightCaseSensitive(true).Placeholder(sharedResource["searching"]))
    .FilterRow(filterRow => filterRow
        .Visible(true)
        .ApplyFilter(GridApplyFilterMode.Auto)
    )
      .HeaderFilter(headerFilter => headerFilter.Visible(true))


                    .Columns(columns =>
                    {
                    columns.AddFor(m => m.Asset.Photo).Width(100)
                .AllowFiltering(false)
                .AllowSorting(false)

                        .CellTemplate(@<text>
                            <div>
                                <img src="/<%- value %>" alt="" width="35" height="35" />
                            </div>
                        </text>).Caption(sharedResource["Photos"]);

                        columns.AddFor(m => m.Asset.AssetTagId).Caption(sharedResource["AssetTagId"]);

                        columns.AddFor(m => m.Asset.AssetCost).Caption(sharedResource["AssetCost"]);

                        columns.AddFor(m => m.Asset.AssetSerialNo).Caption(sharedResource["AssetSerialNo"]);
                        columns.AddFor(m => m.DisposeAsset.DateDisposed).Caption(sharedResource["Date Disposed"]);
                        columns.AddFor(m => m.DisposeAsset.DisposeTo).Caption(sharedResource["Dispose To"]);
                        columns.AddFor(m => m.DisposeAsset.Notes).Caption(sharedResource["Notes"]);
                    })
                    )
                    @(Html.DevExtreme().Popup().ID("customPopup").Width(700)
        .MaxHeight(700)
        .Container(".dx-viewport").Title(sharedResource["Custom popup edit"]).Visible(false)
                    .ContentTemplate(@<text>

                        <div class="row">

                       <div class="row mg-b-25">
                             <div class="col-lg-5">
                                 <div class="form-group">
                         @Html.Label(sharedResource["Asset Description"])
                            @Html.DevExtreme().TextBox().ID("TxtAssetDescription")
                            </div>
                            </div>
                            <br>

                        <div class="col-lg-5">
                                 <div class="form-group">
                            @Html.Label(sharedResource["Asset TagId"])
                            @Html.DevExtreme().TextBox().ID("TxtAssetTagId")
                            </div>
                            </div>
                            <br>
                              <div class="col-lg-5">
                                 <div class="form-group">
                           @Html.Label(sharedResource["AssetCost"])
                            @Html.DevExtreme().TextBox().ID("TxtAssetCost")
                            </div>
                            </div>
                            <br>

                              <div class="col-lg-5">
                                 <div class="form-group">
                           @Html.Label(sharedResource["Asset Serial Number"])
                            @Html.DevExtreme().TextBox().ID("TxtAssetSerialNo")
                            </div>
                            </div>
                            <br>

                              <div class="col-lg-5">
                                 <div class="form-group">
                                 @Html.Label(sharedResource["AssetPurchaseDate"])
                            @Html.DevExtreme().DateBox().ID("AssetPurchaseDate")
                            </div>
                            </div>
                            <br>

                                     <div class="col-lg-5">
                                 <div class="form-group">
                                 @Html.Label(sharedResource["Item"])
                                  @(Html.DevExtreme().Lookup()
                             .ID("TxtAssetItem")
            .DataSource(d => d.WebApi()
                .Controller("Lookups")
                .LoadAction("ItemsLookup")
                .Key("Value")
            )
            .ValueExpr("Value")
            .DisplayExpr("Text")
        )
                            </div>
                            </div>
                            <br>

                               <div class="col-lg-5">
                          <div class="form-group">
                              @Html.Label("Asset Photo")
                              <div class="custom-file">
                                  <input type="file" name="file" accept=".png, .jpg, .jpeg" class="custom-file-input" onchange="changephotoname()" id="Photo" required>
                                  <label class="custom-file-label" for="File" id="photolabel">@sharedResource["Choose New Photo"]</label>
                              </div>
                          </div>
                      </div>
  @*       <div class="col-lg-4">
                                 <div class="form-group">
                                @Html.Label("Asset Photo")
      @Html.DevExtreme().FileUploader().ID("Photo")
                            </div>
                            </div>
                            <br>*@

</div>
      @Html.DevExtreme().Button().Text(sharedResource["Save"]).OnClick("function (e) { saveButtonClick() }")
      @Html.DevExtreme().Button().Text(sharedResource["Cancel"]).OnClick("function (e) { cancelButtonClick() }")

                        </text>))
                </div><!-- table-wrapper -->
            </div><!-- section-wrapper -->

        </div><!-- container -->
</div>

        <script>

            var currentKey;
            function editButtonClick(data) {
                $('#customPopup').dxPopup('instance').option('visible', true);
                $('#frmEdit').dxForm('instance').option('formData', data);

                var AssetDescription = $('#TxtAssetDescription').dxTextBox('instance');
                AssetDescription.option('value', data.AssetDescription);
                var AssetTagId = $('#TxtAssetTagId').dxTextBox('instance');
                AssetTagId.option('value', data.AssetTagId);
                var AssetCost = $('#TxtAssetCost').dxTextBox('instance');
                AssetCost.option('value', data.AssetCost);
                var AssetSerialNo = $('#TxtAssetSerialNo').dxTextBox('instance');
                AssetSerialNo.option('value', data.AssetSerialNo);
                var AssetPurchaseDate = $('#AssetPurchaseDate').dxDateBox('instance');
                AssetPurchaseDate.option('value', data.AssetPurchaseDate);
                var AssetItem = $('#TxtAssetItem').dxLookup('instance');
                AssetItem.option('value', data.ItemId);


                currentKey = data.AssetId;
            }
            function deleteButtonClick(data) {
                var grid = $('#gridContainer').dxDataGrid('instance');
                var rowIndex = grid.getRowIndexByKey(data.DisposeAssetId)
                grid.deleteRow(rowIndex);
            }
            function saveButtonClick() {
                var grid = $('#gridContainer').dxDataGrid('instance');
                var AssetTagId = $('#TxtAssetTagId').dxTextBox('instance');
                var AssetTagIdvalue = AssetTagId.option('value');

                var AssetDescription = $('#TxtAssetDescription').dxTextBox('instance');
                var AssetDescriptionvalue = AssetDescription.option('value');
                var AssetCost = $('#TxtAssetCost').dxTextBox('instance');
                var AssetCostvalue = AssetCost.option('value');
                var AssetSerialNo = $('#TxtAssetSerialNo').dxTextBox('instance');
                var AssetSerialNovalue = AssetSerialNo.option('value');
                var AssetPurchaseDate = $('#AssetPurchaseDate').dxDateBox('instance');
                var AssetPurchaseDatevalue = AssetPurchaseDate.option('value');
                var AssetItem = $('#TxtAssetItem').dxLookup('instance');
                var TxtAssetItemvalue = AssetItem.option('value');
                var Photo = document.getElementById("Photo");
                var Photovalue = Photo.value.split("\\").pop();
                var rowIndex = grid.getRowIndexByKey(currentKey);
                grid.cellValue(rowIndex, "AssetTagId", AssetTagIdvalue);
                grid.cellValue(rowIndex, "AssetDescription", AssetDescriptionvalue);
                grid.cellValue(rowIndex, "AssetCost", AssetCostvalue);
                grid.cellValue(rowIndex, "AssetSerialNo", AssetSerialNovalue);
                grid.cellValue(rowIndex, "AssetPurchaseDate", AssetPurchaseDatevalue);
                grid.cellValue(rowIndex, "ItemId", TxtAssetItemvalue);
                console.log(Photovalue)
                grid.cellValue(rowIndex, "Photo", Photovalue);

                grid.saveEditData()
                $('#customPopup').dxPopup('instance').option('visible', false);
                currentKey = -1;
            }
            function cancelButtonClick() {
                $('#customPopup').dxPopup('instance').option('visible', false);
                currentKey = -1;
            }

            function closeButtonClick() {
                $('#viewPopup').dxPopup('instance').option('visible', false);
                currentKey = -1;
            }

            function viewButtonClick(data) {
                var pop = $('#viewPopup').dxPopup('instance');
                pop.option('visible', true);
                $("#viewPopup").dxPopup({
                    title: data.AssetTagId,
                    //    visible: true,
                    //    resizeEnabled: true
                });

                document.getElementById("img").src = data.Photo;
                document.getElementById("AssetDescription").innerText = data.AssetDescription;
                document.getElementById("AssetCost").innerText = data.AssetCost;
                document.getElementById("AssetSerialNo").innerText = data.AssetSerialNo;
                document.getElementById("TxtAssetPurchaseDate").innerText = new Date(data.AssetPurchaseDate).toDateString()
                    ;
                document.getElementById("AssetItem").innerText = data.ItemTitle;
                document.getElementById("btn").href = "/Admin/AssetManagment/AssetDetails?id=" + data.AssetId;
                currentKey = data.AssetId;
            }

            function changephotoname() {
                console.log("in photo")
                var fileName = document.getElementById("Photo").value.split("\\").pop();;
                document.getElementById("photolabel").innerHTML = fileName;

            }

            window.addEventListener('DOMContentLoaded', (event) => {
                if (localStorage.getItem("lang") != "") {

                    if (localStorage.getItem("lang") == "ar") {
                    console.log("In Page")
                        dataGrid = $("#gridContaine").dxDataGrid("instance");
                dataGrid.option("rtlEnabled", true);
                    }
                }
            });
        </script>



<script type="text/javascript">

                // Add the following code if you want the name of the file appear on select

</script>

